<header class="header">
    <a href="/" class="header__link">
        {{ site.title }}
    </a>
    <nav class="site-nav">
        <ul class="site-nav__list">
            <li class="site-nav__item">
                <a href="/events/">Митапы</a>
            </li>
            <li class="site-nav__item">
                <a href="/talks/">Доклады</a>
            </li>
            <li class="site-nav__item">
                <a href="/speakers/">Спикеры</a>
            </li>
            <li class="site-nav__item">
                <a href="/team/">Команда</a>
            </li>
            <li class="site-nav__item">
                <a href="/cfp/">Стать спикером</a>
            </li>
        </ul>
    </nav>
</header>
